html {
  box-sizing: border-box;
}
body {
  background-color: #F4F3F2;
}
.navheader {
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: white;
}
.navheader button, .navheader a {
  color: black;
  font-weight: 800;
  font-size: 1.1rem;
  text-decoration: none;
}
.navheader .brand a{
  font-size: 1.5rem;
}
.navheader .brand img {
  height: 30px;
  margin-left: 10px;
}
.navheader button:hover, .navheader a:hover,
.navheader button:active, .navheader a:active {
  color: darkblue;
}
.navsidebar {
  background-color: white;
  border-right: rgb(208, 208, 208) 1px solid;
  max-width: 200px;
  padding-bottom: 70%;
}
.navsidebar span {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 900;
}
.navsidebar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.navsidebar img{
  width: 25px;
}
.is-user button {
  background: transparent;
  border: 1px solid transparent;
}
.is-user button:active, .is-user button:hover {
  border: 1px solid grey;
  border-radius: 5px;
}
.homeUsers, .homeIssues, .homeOpen, .homeClosed {
  text-shadow: -1px -1px 0 rgb(30, 30, 30), 1px -1px 0 rgb(30, 30, 30), -1px 1px 0 rgb(30, 30, 30), 1px 1px 0 rgb(30, 30, 30);
}
.homeUsers p, .homeIssues p, .homeOpen p, .homeClosed p,
.homeUsers span, .homeIssues span, .homeOpen span, .homeClosed span {
  font-size: 1.5rem;
}
.homeUsers {
  background-color: #F5A623;
}
.homeIssues {
  background-color: #248AFD;
}
.homeOpen {
  background-color: #71C02B;
}
.homeClosed {
  background-color: #FF4747;
}
.homepage span, .homepage p {
  font-weight: bold;
}
.homepage img {
  width: 95px;
  filter: invert(100%);
}
.homeUpdates p {
  margin: 0;
  font-weight: normal;
}
.homeUpdates a {
  color: black;
  text-decoration: none;
}
.homeUpdates a:hover, .homeUpdates a:focus {
  transform: translateY(0.9);
  transition: ease-in 1s;
}
.addTaskForm, .oneTaskForm {
  background: white;
}
.tasklist th, .tasklist td {
  vertical-align: middle;
}
.tasklist th {
  white-space: nowrap; /* prevent image wrap in header */
}
.tasklist thead img {
  width: 20px;
  height: 20px;
  filter: contrast(30%);
  margin-left: 5px;
}
.tasklist thead th:hover, .tasklist thead th:active {
  background-color: lightgrey;
  cursor: pointer;
}
.low, .medium, .high, .open, .closed {
  text-transform: uppercase;
  font-size: .8rem;
  padding: 5px;
  border-radius: 15px;
}
.low {
  background: rgb(248, 216, 221);
}
.medium {
  background: rgb(237, 157, 157);
}
.high {
  background: rgb(225, 88, 88);
}
.open {
  color: white;
  background: #71C02B;
}
.closed {
  color: white;
  background: #FF4747;
}

@media (width >= 768px) {
  .onetask h1{
    text-align: left;
  }
}