nav {
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
}
.addTaskForm {
  background: #efefef;
  padding: 20px;
  border-radius: 5px;
}
.addTaskForm input, select, button {
  display: inline-block;
  margin: 10px 5px;
  vertical-align: top;
  padding: 2px;
}
select, button.btn.btn-primary, button.btn.btn-danger {
  padding: 5px;
  line-height: 1em;
}
.tasklist ul {
  list-style-type: none;
}
.tasklist ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(215, 215, 215)
}
.tasklist a {
  text-decoration: none;
  color: black;
}
.tasklist li:active, .tasklist li:hover {
  background-color: lightgrey;
}
.low, .medium, .high, .open, .closed {
  margin: 5px;
  padding: 2px 10px;
  border-radius: 15px;
}
.low {
  background: rgb(248, 216, 221);
}
.medium {
  background: rgb(237, 157, 157);
}
.high {
  background: rgb(225, 88, 88);
}
.open {
  color: white;
  background: darkgreen;
}
.closed {
  color: white;
  background: darkred;
}

.auth-form-container {
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-image: linear-gradient(79deg, #fcfced, 48% #fcedfc, #ebf6ff) */
}

@media (width >= 768px) {
  .onetask h1{
    text-align: left;
  }
}