body {
  background-color: #F4F3F2
}
.navheader {
  border-bottom: 1px solid rgb(208, 208, 208);
  background-color: #483700;
}
.navheader button, .navheader a {
  color: white;
}
.navbar-brand:active {
  color: #FFC100;
}
.navheader button:hover, .navheader a:hover
.navheader button:active, .navheader a:active {
  color: #FFC100;
  border: 1px solid white;
}
.navsidebar {
  background-color: white;
  border-right: rgb(208, 208, 208) 1px solid;
}
.navsidebar span {
  text-transform: uppercase;
  font-size: .77rem;
  font-weight: bold;
}
.navsidebar a {
  color: black;
  font-weight: bold;
}
.navsidebar img{
  width: 25px;
}
.is-user button {
  background: transparent;
  border: 1px solid transparent;
}
.is-user button:active, .is-user button:hover {
  border: 1px solid grey;
  border-radius: 5px;
}
.homeUsers, .homeIssues, .homeOpen, .homeClosed {
  text-shadow: -1px -1px 0 rgb(30, 30, 30), 1px -1px 0 rgb(30, 30, 30), -1px 1px 0 rgb(30, 30, 30), 1px 1px 0 rgb(30, 30, 30);
}
.homeUsers {
  background-color: #F5A623;
}
.homeIssues {
  background-color: #248AFD;
}
.homeOpen {
  background-color: #71C02B;
}
.homeClosed {
  background-color: #FF4747;
}
.homepage span, .homepage p {
  font-weight: bold;
}
.homepage span {
  font-size: 1.5rem;
}
.homepage img {
  width: 95px;
  filter: contrast(25%);
}
.homeUpdates p {
  margin: 0;
  font-weight: normal;
}
.homeUpdates a {
  color: black;
  text-decoration: none;
}
.homeUpdates a:hover, .homeUpdates a:focus {
  transform: translateY(0.9);
  transition: ease-in 1s;
}
.addTaskForm, .oneTaskForm {
  background: white;
}
.tasklist th, .tasklist td {
  vertical-align: middle;
}
.low, .medium, .high, .open, .closed {
  text-transform: uppercase;
  font-size: .8rem;
  padding: 5px;
  border-radius: 15px;
}
.low {
  background: rgb(248, 216, 221);
}
.medium {
  background: rgb(237, 157, 157);
}
.high {
  background: rgb(225, 88, 88);
}
.open {
  color: white;
  background: #71C02B;
}
.closed {
  color: white;
  background: #FF4747;
}

@media (width >= 768px) {
  .onetask h1{
    text-align: left;
  }
}